# Environment files
.env
.ipynb_checkpoints
.DS_Store
.venv
.idea

# Project directories
aiadventuregame/
langchain/
plans/
ai_adventure_game.egg-info

# Temporary files and folders
__pycache__/
.vscode/
test.ipynb


